lab1/_data/
lab1/wandb/
lab1/src/_data/
lab1/src/outputs/
lab1/src/wandb/
lab1/.venv/
lab1/src/__pycache__/



lab2/dataset/
lab2/dataset_split/
lab2/output/
lab2/.venv/


lab4/data/
lab4/.venv/

outputs/
wandb/
.venv/


.idea/
